In [1]:
import re
import pandas as pd

In [2]:
tuyendung = pd.read_csv("output1.csv")
tuyendung.head()

            post_id                                            content images
0  2860452447455049  ĐÀ NẴNG OPEN JOB PHP/ JAVA/ TESTER/ REACTJS 🤤🤤...     []
1  2860258800807747  Xin chào cả nhà ạ. Green Technology.STC mở rộn...     []
2  2860363647463929  🔥 EST ROUGE ĐÀ NẴNG TUYỂN DỤNG LEVEL TỪ FRESHE...     []
3  2857712567729037  🔥🔥🔥 VỚI MỤC TIÊU R500, ĐẠT 500 NHÂN SỰ CUỐI NĂ...     []
4  2622792804554349  🔥🔥🔥 [Đà Nẵng] Khởi động chương trình đào tạo v...     []

In [13]:
company_name =' \[(?!HN\]|HCM\])(.*?)\]|.*CÔNG TY TNHH.*|(.*?)(?=TUYỂN DỤNG|tuyển dụng|recruit)'

In [14]:
matches = re.findall(company_name , recruitment1)
matches

[('VNG Corp', '')]

In [22]:
salary =  r'Mức lương:\s*(.*)'

In [23]:
matches = re.findall(salary, recruitment1)
matches

['14 Triệu - 16 Triệu/tháng']

In [ ]:
position = 'F'